@model TARpe22ShopVaitmaa.Models.OpenWeather.OpenWeatherViewModel
<h1>City</h1>
<div class="container">
    <div class="form-group col-md-3">
        <h2>Forecast for the selected city</h2>
        <hr />
        <dl class="row">
            <div class="form-group-row">
                <label asp-for="City" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.City)
            </div>
            <div class="form-group-row">
                <label asp-for="Timezone" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Timezone)
            </div>
            <div class="form-group-row">
                <label asp-for="Lon" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Lon)
            </div>
            <div class="form-group-row">
                <label asp-for="Lat" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Lat)
            </div>
            <div class="form-group-row">
                <label asp-for="Temperature" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Temperature)
            </div>
            <div class="form-group-row">
                <label asp-for="Pressure" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Pressure)
            </div>
            <div class="form-group-row">
                <label asp-for="Humidity" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Humidity)
            </div>
            <div class="form-group-row">
                <label asp-for="Main" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Main)
            </div>
            <div class="form-group-row">
                <label asp-for="Description" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Description)
            </div>
            <div class="form-group-row">
                <label asp-for="Speed" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Speed)
            </div>
        </dl>
    </div>
</div>