@model IEnumerable<TARpe22ShopVaitmaa.Models.RealEstate.RealEstateIndexViewModel>
@{
    int rowNumber = 1;
}
<div class="h1">Real Estates</div>
<div>
    <a asp-action="create" asp-controller="realEstates" type="submit" class="btn btn-primary">Create</a>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Location</th>
                <th scope="col">SquareMeters</th>
                <th scope="col">RoomCount</th>
                <th scope="col">Price</th>
                <th scope="col">IsPropertySold</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realEstate in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realEstate.Location</td>
                    <td>@realEstate.SquareMeters</td>
                    <td>@realEstate.RoomCount</td>
                    <td>@realEstate.Price</td>
                    <td>@realEstate.IsPropertySold</td>
                    <td>
                        <a asp-action="details" asp-controller="realEstates" asp-route-id="@realEstate.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="realEstates" asp-route-id="@realEstate.Id" class="btn btn-info">Update</a>
                        <a asp-action="delete" asp-controller="realEstates" asp-route-id="@realEstate.Id" class="btn btn-info">Delete</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>